.subheader {
  font-size: 2rem;
  color: #cbcbcb;
  padding-top: 1rem;
  text-transform: uppercase;
}

.nav__li {
  padding-top: 2rem;
  text-transform: uppercase;
  list-style-type: none;
  text-decoration: none;
  z-index: 1;
}
