@import "../index.scss";
#threeobj {
  height: 50rem;
  width: 40rem;
  margin-left: 12rem;
  @include respond(tab-port) {
    height: 40rem;
    width: 30rem;
    margin-left: 13rem;
  }
}

.obj__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.obj_head {
  font-size: 3rem;
  color: #cbcbcb;
  margin-top: 1rem;
}

.obj_details {
  margin-top: 1rem;
  font-size: 2rem;
  color: #cbcbcb;
}
