@import "../index.scss";
#threeobj {
  height: 50rem;
  width: 40rem;
  @include respond(phone) {
    height: 30rem;
    width: 20rem;
  }
}

.obj__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.obj_head {
  font-size: 3rem;
  color: #cbcbcb;
  margin-top: 1rem;
  @include respond(phone) {
    font-size: 2rem;
  }
}

.obj_details {
  margin-top: 1rem;
  font-size: 2rem;
  color: #cbcbcb;
  @include respond(phone) {
    font-size: 1rem;
  }
}
