.form {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #f8f8f8;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 20px 8px #d0d0d0;
  padding: 2rem;
}
.label__container {
  margin-top: 3rem;
}

.input {
  font-size: 2rem;
  border-radius: 5px;
  border: 1px solid;
  border-color: coral;

  border-width: 1px;
}

::-webkit-input-placeholder {
  background: #f8f8f8;
}
.button {
  margin-top: 3rem;
  width: 15rem;
  height: 3rem;
  border-radius: 5px;
}
